[DEFAULT]
hostname: rtr1
grpc_server : 127.0.0.1
grpc_port : 57777
grpc_user : vagrant
grpc_pass : vagrant
# text_alert : +14087784819
# email_alert:  pipedown@cisco.com
yang: openconfig
flush_bgp_as : 65000
drop_policy_name : drop
pass_policy_name : pass

[BGP]
destination : 6.6.6.6
source : 12.1.1.10
protocol : bgp
bw_thres : 200
jitter_thres : 20
pkt_loss : 3
interval : 2
