[DEFAULT]
grpc_server : 127.0.0.1
grpc_port : 57777
grpc_user : vagrant
grpc_pass : vagrant
alert : false
#alert_type : text
# alert_type : email
#alert_address : +1##########
# alert_address : test@cisco.com
flush: true
yang: openconfig
bgp_as : 65000
drop_policy_name : drop
pass_policy_name : pass


destination : 6.6.6.6
source : 12.1.1.10
protocol : bgp
bw_thres : 200
jitter_thres : 20
pkt_loss : 3
interval : 2
