# Example Config file for Router-Connectedness
# Below are all the fields required for the config file.
#
# [Name-for-connection]
# destination : ip_address # IP address of where iPerf is running in the data center
# source : ip_address # IP address of your souce link
# protocol : protocol # Protocol you want to monitor [IS-IS, BGP]
# bw_thres : bandwidth # Interger value of Bandwidth in KB that you determine is the minmum value for the link
# jitter_thres : jitter_threshold # Interger value of Jitter Threshold
# pkt_loss : packet loss # Interger value of number of packets allowed to lose
# interval : interval # Interger value in seconds of how often you want the test to run
# grpc_server : ip_address # IP address of the router you are monitoring (Can be local loopback 127.0.0.1)
# grpc_port : port # gRPC port number
# grpc_user : username # Username for AAA authentication
# grpc_pass : password # Password for AAA authentication
# flush_as : flush_as # The AS number of the neighbor group for the internet
# drop_policy_name: drop_policy_name # The policy name that you want when the flush is activated.


[IS-IS]
destination : 5.5.5.5
source : 10.1.1.1
protocol : isis
bw_thres : 200
jitter_thres : 20
pkt_loss : 3
interval : 10
grpc_server : 127.0.0.1
grpc_port : 57777
grpc_user : vagrant
grpc_pass : vagrant
model: cisco_flush
arg1 : 65000
arg2: drop

[BGP]
destination : 6.6.6.6
source : 12.1.1.10
protocol : bgp
bw_thres : 200
jitter_thres : 20
pkt_loss : 3
interval : 10
grpc_server : 127.0.0.1
grpc_port : 57777
grpc_user : vagrant
grpc_pass : vagrant
model: alert
arg1 : email
arg2: kkumara3@cisco.com
